@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: Inconsolata;
    background: white;
}
a{ 
    text-decoration:none;
    color:#BDBDBD;
}
header > h1{
    width:133px;
    height:25px;
    margin-top:40px;
    font-size:24px;
    font-style:normal;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin-left:77px;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:90vh;

}
.img-container {
    flex-basis:50%;
    margin-left:60px;

    

}
.img-container >img{
    width:90%;
    margin-top: 40px;

}
.text{
    margin:40px;
    flex-basis: 50%;

}
.text h1{
    font-size:64px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
}
.text p{
    
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
}
.text button{
    font-size:20px;
    text-transform: uppercase;
    font-family: 'Space Mono';
    padding:20px;
    text-align: center;
    margin-top:30px;
    background: #333333;
    color:white;
    border:1px solid #333333;
}

footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    margin-top:70px;
    
    color: #BDBDBD;

    
}

@media only screen and (max-width : 600px){


    header h1{
        font-size: 24px;
        margin-bottom:20px;
        margin-left: 24px;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        margin-top:100px;
        height: 100vh;
       
    }
    .text{
        margin:20px;
    }
    .text p{
        font-size:18px;
    }
    .text button{
       margin-bottom: 100px;
    }
   
    
   
    .text h1{
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
    }
    footer {
        margin-top:100px;
       
        font-size: 14px;
        line-height: 17px;
        text-align: center;
   
    }

}
